@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700');


.main-font{font-family: 'Roboto', sans-serif;}
.alt-font{font-family: 'Poppins', sans-serif;}

body{
    /* background-image:url("../dist/images/winner-kid.png");
    background-size: cover;
    overflow-x: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    /* background-repeat: no-repeat; */
    height:100%;
    /* background-position: center center; */
}
#header{
    /* z-index:1; */
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:200px;
}
#header img{
    width:100%;
    height:150px;
    /* opacity:0.5; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.home{
    position:fixed;
    top:0.5%;
    left:0.5%;
    z-index:2;
    height:55px;
    width:110px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* border-radius: 5px; */
    display:flex;
    flex-direction:row;
    text-decoration: none;
    background-color: rgb(250,250,250, 0.85);
}
#home{
    height:45px;
    width:40px;
    margin-left:5px;
    margin-top:5px;
}
#back{
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:14pt;
    text-decoration: none;
    margin-left:5px;
    margin-top:25px;
}
.home:hover{
    text-decoration: underline;
    color:black;
}
#card{
    position: fixed;
    top:0.5%;
    left:8%;
    z-index:2;
    height:60px;
    width:100px;
}
#card img{
    height:60px;
    width:100px;
    /* opacity: 0.75; */
}
.btn-row{
    display:flex;
    flex-direction:row;
    height:50px;
    width:100%;
    /* border:dashed 2px blue; */
    justify-content: center;
    align-items: center;
}
#reward-title{
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:16pt;
    text-align:center;
}
.reward-img img{
    height:100px;
    width:140px;
}
#swedish,
#tablet{
    height:100px;
    width:80px;
}
.cart-row{
    display: flex;
    flex-direction: row;
   margin-left:120px;
    height:50px;
    width:100px;
    /* border:2px solid orangered; */
   
}
#shop img{
    width:40px;
    height:36px;
    float:right;
}
#cart{
    width:40px;
    height:36px;
    float:right;
    margin-top:-20px;
}
#bots{
    height:100px;
    width:160px; 
}


#plus,
#plus2,
#plus3,
#plus4,
#plus5,
#plus6,
#plus7,
#plus8{
    height:40px;
    width:40px;
    margin-left:10px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:18pt;
    /* border:solid 2px black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#counter,
#counter2,
#counter3,
#counter4,
#counter5,
#counter6
#counter7,
#counter8{
    height:50px;
    width:50px;
    /* border:solid 2px black; */
    text-align: center;
    height:40px;
    line-height: 40px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:18pt;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#counter,
#counter2,
#counter3,
#counter4,
#counter5,
#counter6,
#counter7,
#counter8{
margin-left:140px;
height:50px;
width:50px;
/* border:solid 2px black; */
text-align: center;
height:40px;
line-height: 40px;
font-family: 'Poppins', sans-serif;
color:black;
font-size:18pt;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#minus,
#minus2,
#minus3,
#minus4,
#minus5,
#minus6,
#minus7,
#minus8{
    /* position:absolute;
    top:1%;
    left:13%; */
    height:40px;
    width:40px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:18pt;
    /* border:solid 2px black; */
    margin-right:20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.reward-section{
    display:flex;
    flex-direction: column;
    height:600px;
    width:100%;
    /* border:2px solid lime; */
    /* margin-left: 7.5%; */
    margin-top:150px;
}
.rewards{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width:85%;
    /* border:solid 2px magenta; */
    height:250px;
    margin-left: 7.5%;
    /* margin-top:150px; */
}
.rewards2{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width:85%;
    /* border:solid 2px magenta; */
    height:250px;
    margin-left: 7.5%;
    margin-top:50px;
}
#reward1,
#reward2,
#reward3,
#reward4,
#reward5,
#reward6,
#reward7,
#reward8{
    display: flex;
    flex-direction:column;
    height:220px;
    width:15%;
    background-color: rgb(250,250,250, 0.8);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius:5px;
    font-family: 'Poppins', sans-serif;
    font-size:16pt;
    justify-content: center;
    align-items: center;
    margin-left:50px;
    /* margin-right:50px; */
    /* margin-left:50px; */
}

.shopping-list{
    position: absolute;
    top:1%;
    left:87%;
    height: 300px;
    width: 200px;
    background-color: rgb(250,250,250, 0.8);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius:5px;
    font-family: 'Poppins', sans-serif;
    font-size:12pt;
    display:flex;
    flex-direction:column;
}
#checkout{
    position:absolute;
    top:90%;
    left:32%;
    font-family: 'Poppins', sans-serif;
    /* margin-left:auto;
    margin-right:auto; */
    /* margin-top:200px; */
}

.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    /* background-color: #FC466B; */
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    /* margin-top: 60px; */
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    top:0;
    right: 0;
    width: 300px;
    margin-top: 60px;
    transform: translateX(300px);
    transition: transform 300ms ease-in-out;
    background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%);
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    right: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color:rgb(0, 0, 0,0.7)
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: right;
    margin-top: 3px;
    background-color: transparent;
    /* opacity: 0; */
}
.diagonal.part-1 {
    display: none;
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: right;
    margin-right:260px;
}
.diagonal.part-2 {
    display: none;
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: right;
    margin-top: 3px;
    margin-right:260px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    /* transform: translateX(-300px);
    transition: transform 300ms ease-in-out; */
    /* opacity: 0; */
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    display: block;
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
    /* transform: translateX(-300px);
    transition: transform 300ms ease-in-out; */
    /* display: none; */
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
    display: block;
    /* transform: translateX(-300px);
    transition: transform 300ms ease-in-out; */
}
