@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700');


.main-font{font-family: 'Roboto', sans-serif;}
.alt-font{font-family: 'Poppins', sans-serif;}

/* #item1{
    position:absolute;
    top:2%;
    left:5%;
    display: flex;
    flex-direction: row;
} */
#header{
    /* z-index:1; */
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:200px;
    overflow-x: hidden;
}
#header img{
    z-index:1;
    height:200px;
    overflow-x: hidden;
    width:100%;
    height:150px;
    /* opacity:0.5; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#page-title{
	position: absolute;
	top: 3%;
	left: 27%;
    text-align: center;
    color:  rgb(0,0,250,0.65);
    z-index: 3;
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
    font-size: 60pt;
    font-family: 'Poppins', sans-serif;
  }

  .home{
    position:relative;
    top:0.5%;
    left:0.5%;
    z-index:4;
    height:55px;
    width:110px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* border-radius: 5px; */
    display:flex;
    flex-direction:row;
    text-decoration: none;
    background-color: rgb(250,250,250, 0.85);
    /* border:solid 2px aqua; */
}
  .home img{
    height:45px;
    width:40px;
    margin-left:5px;
    margin-top:5px;
    z-index:4;
}
#back{
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:14pt;
    text-decoration: none;
    margin-left:5px;
    margin-top:25px;
}
.home:hover{
    text-decoration: underline;
    color:black;
}
#card{
    position: fixed;
    top:0.5%;
    left:8%;
    z-index:2;
    height:60px;
    width:100px;
    /* border:solid 2px aqua; */
}
#card img{
    height:60px;
    width:100px;
    /* opacity: 0.75; */
}
  .reward-section{
    display:flex;
    flex-direction: column;
    height:600px;
    width:100%;
    /* border:2px solid lime; */
    /* margin-left: 7.5%; */
    margin-top:200px;
}
.reward-row{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width:85%;
    /* border:solid 2px magenta; */
    height:250px;
    margin-left: 7.5%;
    /* margin-top:150px; */
}
#reward{
    display: flex;
    flex-direction:column;
    height:220px;
    width:15%;
    background-color: rgb(250,250,250, 0.8);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius:5px;
    font-family: 'Poppins', sans-serif;
    font-size:16pt;
    justify-content: center;
    align-items: center;
    margin-left:50px;
}
#reward-btns{
    display: flex;
    flex-direction: row;
}
#plus1{
    /* position:absolute;
    top:2%;
    left:5%; */
    height:40px;
    width:40px;
    margin-left:10px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:18pt;
    /* border:solid 2px black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#minus1{
    /* position:absolute;
    top:2%;
    left:8%; */
    height:40px;
    width:40px;
    margin-left:10px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:18pt;
    /* border:solid 2px black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#trash{
    /* position:absolute;
    top:2%;
    left:8%; */
    height:40px;
    width:40px;
    margin-left:10px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:18pt;
    /* border:solid 2px black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#plus2{
    /* position:absolute;
    top:20%;
    left:5%; */
    height:40px;
    width:40px;
    margin-left:10px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:18pt;
    /* border:solid 2px black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#minus2{
    /* position:absolute;
    top:20%;
    left:8%; */
    height:40px;
    width:40px;
    margin-right:10px;
    margin-left:10px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:18pt;
    /* border:solid 2px black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#plus3{
    height:40px;
    width:40px;
    margin-left:10px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:18pt;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#minus3{
    height:40px;
    width:40px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:18pt;
    margin-right:10px;
    margin-left:10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#plus4{
    height:40px;
    width:40px;
    margin-left:10px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:18pt;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#minus4{
    height:40px;
    width:40px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:18pt;
    margin-right:10px;
    margin-left:10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#plus5{
    height:40px;
    width:40px;
    margin-left:10px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:18pt;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#minus5{
    height:40px;
    width:40px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:18pt;
    margin-right:10px;
    margin-left:10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#plus6{
    height:40px;
    width:40px;
    margin-left:10px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:18pt;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#minus6{
    height:40px;
    width:40px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:18pt;
    margin-right:10px;
    margin-left:10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#plus7{
    height:40px;
    width:40px;
    margin-left:10px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:18pt;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#minus7{
    height:40px;
    width:40px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:18pt;
    margin-right:10px;
    margin-left:10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#plus8{
    height:40px;
    width:40px;
    margin-left:10px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:18pt;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#minus8{
    height:40px;
    width:40px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:18pt;
    margin-right:10px;
    margin-left:10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#plus9{
    height:40px;
    width:40px;
    margin-left:10px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:18pt;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#minus9{
    height:40px;
    width:40px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:18pt;
    margin-right:10px;
    margin-left:10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.r-title{
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:15pt;
    text-align:center;
}
#reward-img img{
    height:100px;
    width:140px;
}
#reward-img #swedish{
    height:100px;
    width:80px;  
}
#reward-img #ipad{
    height:100px;
    width:80px;   
}
#cart{
    display: flex;
    flex-direction: column;
    height:350px;
    width:270px;
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size:18pt;
    /* border:solid 2px black; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
#checkout{
    display:flex;
    justify-content: center;
    height:40px;
    width:90%;
    font-family: 'Poppins', sans-serif;
    background-color: #d99f0d;
    font-size: 16pt;
    text-align: center;
    padding-inline-start: 0px;
    line-height: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top:10px;
    margin-bottom:10px;
}
#your-cart{
    height:40px;
    width:90%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size:18pt;
    margin-bottom:10px;
    margin-top:10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    line-height: 40px;
    /* display: flex; */
}
#add-later{
    display:flex;
    justify-content: center;
    height:40px;
    width:90%;
    font-family: 'Poppins', sans-serif;
    background-color: #d99f0d;
    font-size: 16pt;
    text-align: center;
    padding-inline-start: 0px;
    line-height: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top:10px;
    margin-bottom:5px;
}
#trash{
    height:40px;
    width:90%;
    font-family: 'Poppins', sans-serif;
    /* text-align: center; */
    font-size:16pt;
    /* margin-bottom:10px; */
    margin-top:10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    /* line-height: 60px; */
    display:flex;
    flex-direction: row;
    /* display: flex; */
}
#empty{
    height:40px;
    width:60%;
    margin-right:10px;
    margin-top:10px;
    /* line-height: 60px; */
}
#trash img{
    height:40px;
    width:29px;
}
/* #add-later{
    height:60px;
    width:90%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size:16pt;
    margin-bottom:10px;
    margin-top:10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    line-height: 60px;
} */
#prize-pic img{
    height:50px;
    width:74px;
    margin-right:5px;
    /* border:solid 2px magenta; */

}
#bey{
    display: none;
    padding:0px;
    justify-content: center;
    flex-direction: row;
    height:60px;
    width:95%;
    font-family: 'Poppins', sans-serif;
    margin-bottom:5px;
    /* border:solid 1px lightgray; */
}
#bey #title,
#lego #title5,
#choice #title6,
#tablet #title9,
#fish #title7{
    /* margin-top:15px; */
    line-height: 60px;
    /* border:solid 2px lime; */
    margin-left:8px;
}

#action #title3,
#dry-erase #title4,
#robots #title8{
    /* margin-top:15px; */
    /* line-height: 60px; */
    /* border:solid 2px lime; */
    margin-left:8px;
}
#choice #prize-pic img{
    margin-top:5px;
}
#tablet #prize-pic img,
#fish #prize-pic img{
    height:60px;
    width:48px;
    margin-right:26px;
}
#free{
    display: none;
    padding:0px;
    justify-content: center;
    flex-direction: row;
    height:60px;
    width:90%;
    font-family: 'Poppins', sans-serif;
    margin-bottom:5px;
    border:2px inset black;
}

#action{
    display: none;
    padding:0px;
    justify-content: center;
    flex-direction: row;
    height:60px;
    width:95%;
    font-family: 'Poppins', sans-serif;
    margin-bottom:5px;
    /* border:2px inset black; */
}
#dry-erase{
    display: none;
    padding:0px;
    justify-content: center;
    flex-direction: row;
    height:60px;
    width:95%;
    font-family: 'Poppins', sans-serif;
    margin-bottom:5px;
    /* border:2px inset black; */
}

#lego{
    display: none;
    padding:0px;
    justify-content: center;
    flex-direction: row;
    height:60px;
    width:95%;
    font-family: 'Poppins', sans-serif;
    margin-bottom:5px;
    /* border:2px inset black; */
}
#lego{
    display: none;
    padding:0px;
    justify-content: center;
    flex-direction: row;
    height:60px;
    width:95%;
    font-family: 'Poppins', sans-serif;
    margin-bottom:5px;
    /* border:2px inset black; */
}
#choice{
    display: none;
    padding:0px;
    justify-content: center;
    flex-direction: row;
    height:60px;
    width:95%;
    font-family: 'Poppins', sans-serif;
    margin-bottom:5px;
    /* border:2px inset black; */
}

#fish{
    display: none;
    padding:0px;
    justify-content: center;
    flex-direction: row;
    height:60px;
    width:95%;
    font-family: 'Poppins', sans-serif;
    margin-bottom:5px;
    /* border:2px inset black; */
}

#robots{
    display: none;
    padding:0px;
    justify-content: center;
    flex-direction: row;
    height:60px;
    width:95%;
    font-family: 'Poppins', sans-serif;
    margin-bottom:5px;
    /* border:2px inset black; */
}
#tablet{
    display: none;
    padding:0px;
    justify-content: center;
    flex-direction: row;
    height:60px;
    width:95%;
    font-family: 'Poppins', sans-serif;
    margin-bottom:5px;
    /* border:2px inset black; */
}

#title,
#title2,
#title3,
#title4,
#title5,
#title6,
#title7,
#title8,
#title9{
    font-family: 'Poppins', sans-serif;
    font-size:14pt;
    height:50px;
    width:120px;
    /* margin-right:10px; */
    color:black;
    /* border:solid 2px lime; */
    padding:0px;
    /* line-height: 50px; */
    margin-left:-20px;
}
#counter1,
#counter2,
#counter3,
#counter4,
#counter5,
#counter6,
#counter7,
#counter8,
#counter9{
    height:50px;
    width:50px;
    line-height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size:14pt;
    color:black;
    border:solid 1px lightgray;
    border-radius: 5px;
    text-align: center;
}

.reward-ghost{
    display:none;
}


@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    /* background-color: #FC466B; */
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    right: 0;
    width: 300px;
    margin-top: 60px;
    transform: translateX(300px);
    transition: transform 300ms ease-in-out;
    background-color: rgb(248, 248, 255);
    /* background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%); */
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
/* .sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
} */
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    right: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color:rgb(0, 0, 0,0.7);
}

#cart-icon{
    width:40px;
    height:36px;
    float:right;
    margin-top:-20px;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
    background-color: transparent;
}
.diagonal.part-1 {
    display: none;
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: right;
    margin-right:260px;
}
.diagonal.part-2 {
    display: none;
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: right;
    margin-top: 3px;
    margin-right:260px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    /* opacity: 0; */
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
    display: block;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
    display: block;
}
#point-sheet{
    position: absolute;
    top:30%;
    left:8%;
    height:100px;
    width:100px;
    z-index:3;
    background-color: green;
}

  